/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Feb, 2024, 6:33:09 PM
    Author     : Nirmala
*/


body {
    background-color: black;
   
    margin: 0%;
    /* padding: 0%; */
    /* background-image: url("iist.jpg");
    /* width: 100vw;
        height: 100vh; */
        /* opacity: .2; */
        z-index: -1; 
}

.Main {}

/* 
.btn{
    
    display:flex;
    align-items: center;
    justify-content: center;
} */
.nav{

    display: flex;
    color: black;
    height: auto;
    width: 100vw;
   background-image: linear-gradient(#f8736f,
    #05b9c6);
  align-items: center;
  border-radius: 5px;
  padding: 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    justify-content: space-between;
  
}
#navlist{
    display: flex;
align-items: center;
    justify-content: space-between;
  width: 35vw;

  margin-left: 5px;
}
a{
    text-decoration: none;
    color: black;
    
}

#btn{
    padding-right: 5px;
}
button{
background-image: linear-gradient(#7675ce,
    #a2a8ff);
    border-radius: 10px;
    cursor: pointer;

    padding: 5px 14px;
}
button:hover{
    color: aliceblue;
    background-image: linear-gradient(#bc3210,
                #393c65);
}
#imgiist{
    /* background-repeat: no-repeat;
  background-size: cover; */
  width: 100vw;
  height: 100vh;
  opacity: .2;

  
}
#logo{
    width: 3vw;
    height: 3vw;
    margin-right: 4px;
border-radius: 100px;
}
#logoitem{
    display: flex;
    align-items: center;
    margin: 6px;
}
/* #navlist{
    display: flex;
    
} */
.student{
   

    color: white;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    text-align: center;
    
    
}

#personal{
background-image: linear-gradient(to right, rgb(66, 142, 186),rgb(196, 72, 205));
    height: auto;
    display: flex;
    margin-left: 5px;
    color: black;
    width: 100vw;
    justify-content: space-between;
    flex-direction: column;
}
#institute{
background-image: linear-gradient(to right,rgb(201, 178, 102),rgb(71 181 225));
    height:89vh;
    width: 50vw;
    margin-top: 0px;
    color: black;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}


form{
    margin-bottom: 5px;
}
textarea{
    background-color: rgb(165, 191, 214);
}
.boc{
    height:auto;
}

